{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>225 and Beyond</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'index.js'%}"></script>
  </head>
  <body>
    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">225 and Beyond</a>
        <a role="button" class="navbar-burger burger" style="
    margin-top: 15px;" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu is-shadowless" id="navbarBasicExample">
        <div class="navbar-end">
          <a class="navbar-item" href="{% url 'blog' %}"">Blog</a>
          <a class="navbar-item" href="{% url 'dictations'%}">Dictations</a>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}  

    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>225 and Beyond</strong> by Euan Williams.
      </div>
    </footer>
  </body>
</html>