{% extends "base.html" %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-8 blog-container">
        <div id="post-title-container">
            <h2 class="title">{{ dictation.title}}
                <h3>Dictated by: Euan Williams</h3>
                <h3>Uploaded on: {{ dictation.created_date|date}}<h3>
            </h2>
        </div> 
        <audio controls>
            <source src="{{ dictation.audio.url }}" type="audio/mpeg">
        </audio>
        <p>{{ dictation.transcript}}</p>
        <p>{{ dictation.words }}

        <div class="tags are-large">
            {% for tag in dictation.tags.all %}
                <span class="tag is-info is-large">{{tag}}</span>
            {% endfor %}
            <span class="tag">All</span>
        </div>
            
        </ul>
    </div>
</div>

{% endblock %}