{% extends "base.html" %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-8 blog-container">
        <div class="title-container">
            <h2 class="title is-1">Dictations</h2>
        </div>
        {% for dictation in dictations %}
        <div class="post">
            <p class="title is-3"><a href="{{dictation.get_absolute_url}}">{{dictation.title}}</a></p>
            <p class="subtitle is-5">{{dictation.transcript|truncatewords:30}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}