{% extends "base.html" %}

{% block content %}

<div class="columns is-centered is-mobile">
    <div class="column is-8-tablet is-four-fifths-mobile blog-container">
        <div id="post-title-container">
            <h2 class="title">{{ post.title}}<h3>by Euan Williams - {{ post.created_date|date}}</h2>
        </div>  
        <div class="content">
            {{ post.text|safe}}
        </div>

        <div class="is-spaced tags are-medium">
            {% for tag in post.tags.all %}
                <span class="tag is-info is-large">{{tag}}</span>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}