// Navbar Styles
$navbar-background-color: #163358;
$navbar-item-color: #ffffff;

.navbar-brand a {
    font-size: 2em;
}

.navbar-item {
    font-size: 1.5em;
}

.navbar-item {
    font-family: $merriweather;
}
  
.navbar-item:hover, .navbar-item:active {
    background-color: $navbar-item-color;
    color: $navbar-background-color;
}
  
.navbar-burger {
    height: 10px;
    margin-top: 13px;
}